In [ ]:
def show_employee(name,salary=9000):
  print("Name:",name,",Salary:",salary)
show_employee("ben",12000)
show_employee("jessa")

Name: ben ,Salary: 12000
Name: jessa ,Salary: 9000

Exercise 2: Create an inner function to calculate the addition in the following way.

1-Create an outer function that will accept two parameters, a and b.

2-Create an inner function inside an outer function that will calculate the addition of a and b.


3-At last, an outer function will add 5 into addition and return it.

In [ ]:
def outer_addition(a,b):
  def inner_addition(a,b):

    return a+b
  final_addition=a+b+5
  return final_addition
outer_addition(5,10)

20

Exercise 3: Generate a Python list of all the even numbers between 4 to 30.

In [ ]:
l=range(4,30)
even_num=list(filter(lambda a:a%2==0,l))
even_num

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Exercise 4: Lambda Function to Check if value is in a List.

Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]
          element = 4

Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
          
Output :  Element is NOT Present in the list

In [ ]:
def check_value(a):
  l=[1,2,3,4,5]
  if a in l:
    print("element is present in the list")
  else:
    print("element is not in the list")
f=lambda a:check_value(a)
f(4)
f(8)

element is present in the list
element is not in the list

Exercise 5: Sort list of tuples with their sum.

Sort the points based on their sum of elements in the tuples.

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
l= [(1, 2), (5, 3), (0, 7), (3, 1)]
print(l.sort(key=lambda a:a[0]+a[1]))
l

None

[(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 :
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
 Return the results as a list

In [ ]:
def even_digt_number():
  new_even_list=[]
  for i in range(1000,3001):
    l=[int(d)for d in str(i)]
    if all(d%2==0 for d in l):
      new_even_list.append(i)
  return new_even_list
result=even_digt_number()
print(result)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

Exercise 7 :
Write a python function that accepts a sentence and calculate and return the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123

Then, the output should be:

LETTERS 10

DIGITS 3

In [ ]:
def letter_digit_number(x):
  letter_count=0
  digit_count=0
  for i in x:
    if i.isalpha():
      letter_count+=1
    elif i.isdigit():
      digit_count+=1
  return letter_count,digit_count
a="hello wolrd! 123"
letter_count,digit_count=letter_digit_number(a)
print(f"letter:{letter_count} digit:{digit_count}")

letter:10 digit:3

Exercise 8  MAP:

Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
def upper_lower_duplicate(sentence):
  upper_case=list(map(lambda x:x.upper(),sentence))
  lower_case=list(map(lambda x:x.lower(),sentence))
  duplicate=list(set(sentence))
  return upper_case,lower_case,duplicate
sentence="Hello,Wolrd"
upper_case,lower_case,duplicate=upper_lower_duplicate(sentence)
print(upper_case)
print(lower_case)
print(duplicate)

['H', 'E', 'L', 'L', 'O', ',', 'W', 'O', 'L', 'R', 'D']
['h', 'e', 'l', 'l', 'o', ',', 'w', 'o', 'l', 'r', 'd']
['H', 'e', 'r', 'o', 'd', ',', 'l', 'W']

Exercise 9 MAP:

 Write a Python program to add two given lists and find the difference between them.
 Use the map() function

In [ ]:
l1=[1,2,3,4]
l2=[5,6,7,8]
f=map(lambda a,b:a+b,l1,l2)
s=map(lambda a,b:b-a,l1,l2)
print(list(f))
print(list(s))

[6, 8, 10, 12]
[4, 4, 4, 4]

Exercise 10 Filter:

Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

Original Dictionary:

{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

Height> 6ft and Weight> 70kg:

{'Cierra Vega': (6.2, 71)}

In [ ]:
students={'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
students.items()
f=dict(filter(lambda a:a[1][0]>6 and a[1][1]>70,students.items()))
print(f)

{'Cierra Vega': (6.2, 71)}

Exercise 11 Filter:

Write a Python program to remove all elements from a given list present in another list using lambda.

Original lists:

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list2: [2, 4, 6, 8]

Remove all elements from 'list1' present in 'list2:

[1, 3, 5, 7, 9, 10]

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[2,4,6,8]

f=list(filter(lambda a:a not in l2,l1))
print(f)

[1, 3, 5, 7, 9, 10]

Exercise 12 Reduce:


Write a Python program to calculate the product of a given list of numbers using lambda.

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Product of the said list numbers:
3628800

In [ ]:
import functools
l1=[1,2,3,4,5,6,7,8,9,10]
f=functools.reduce(lambda a,b:a*b,l1)
print("The product of the numbers is ",f)

The product of the numbers is  3628800

Exercise 13 Reduce:


 Write a Python program to multiply all the numbers in a given list using lambda.

Original list:

[4, 3, 2, 2, -1, 18]

Mmultiply all the numbers of the said list: -864

In [ ]:
import functools
l1=[4, 3, 2, 2, -1, 18]
f=functools.reduce(lambda a,b:a*b,l1)
print(f)

-864

Exercise 14 Reduce:


Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.

Original Tuple:

((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

Average value of the numbers of the said tuple of tuples:

(30.5, 34.25, 27.0)

In [ ]:
x=((10,10,10),(30,45,56),(81,80,39),(1,2,3))
f=tuple(map(lambda a:sum(a)/len(a),zip(*x)))
print(f)

(30.5, 34.25, 27.0)

Exercise 15:


Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.

Original list:

[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

Sort the said mixed list of integers and strings:

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
l=[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
def filter_list(l):

  a=[]
  b=[]
  for element in l:
    if isinstance(element,int):
      a.append(element)
    else:
      b.append(element)
  a.sort()
  b.sort()
  return a+b
result=filter_list(l)
print(result)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

Exercise 16:

Write a Python program to count the occurrences of items in a given list using lambda.

Original list:

[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

Count the occurrences of the items in the said list:

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [ ]:
l=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
result=dict(map((lambda x:(x,l.count(x))),l))
print(result)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

Exercise 17:

> Indented block




Write a Python program to remove None values from a given list using the lambda function.

Original list:

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Remove None value from the said list:

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
l=[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
f=list(filter((lambda x:x is not None ),l))
print(f)

[12, 0, 23, -55, 234, 89, 0, 6, -12]